<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit" />
    <meta name="description" content="">
    <meta name="author" content="wyait">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <script th:src="@{/js/base.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
</head>
<body>

</body>
</html>