<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <style>
        h1 {
            height: 60px; line-height: 60px;margin-left: 20px;
        }
        .layui-btn-group {
            margin-left: 20px;
        }
    </style>
</head>
<body>

<div>
    <h1>分类管理</h1>
</div>
<hr >
<div class="layui-btn-group" >
    <button id="add" class="layui-btn"><i class="layui-icon">&#xe654;</i>增加</button>
</div>
<!--<div>-->
    <!--<ul th:each="item:${classifies}">-->
        <!--<li>-->
            <!--<span th:text="${item.classifyName}"></span> - -->
            <!--<span th:text="${item.classifyParent.parentName}"></span>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
<table id="tb_data" lay-filter="blog"></table>

</body>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['table', 'jquery'], function () {
        var table = layui.table
            ,$$ = layui.$;

        $$('#add').click(function () {
            location.href = "/main/classify/add_classify";
        });
        
        //第一个实例
        table.render({
            elem: '#tb_data'
            ,height: 'full'
            ,url: '/main/classify/get_classify_list' //数据接口
            ,page: false //开启分页
            ,cols: [
                [ //表头
                    {field: 'id', title: 'ID', width:50, sort: true, fixed: 'left'}
                    ,{field: 'classifyName', title: '名称'}
                    ,{field: 'parentId', title: '父级分类', templet:'#classifyType'}
                    ,{fixed: 'right', title: '操作', width:150, align:'center', toolbar: '#barDemo', fixed: 'right'} //这里的toolbar值是模板元素的选择器
                ]
            ]
        });

        //监听工具条
        table.on('tool(blog)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if(layEvent === 'detail'){ //查看
                console.log(data);
                //do somehing
            } else if(layEvent === 'del'){ //删除
                layer.confirm('该操作将会删除当前分类及其子分类，确定要删除吗？', function(index){
//                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
//                    layer.close(index);
//                    //向服务端发送删除指令
                    var url = "/main/classify/delete_classify";
                    var postData = {
                        id: data.id
                    };
                    console.log(postData);
                    $$.ajax({
                        type: "POST",
                        dataType: "json",
                        url: url,
                        data: postData,
                        beforeSend: function () {
                            console.log('提交之前');
                            layer.load(
                                2,
                                {time: 5000}
                            );
                        },
                        success: function (result) {
                            layer.closeAll();
                            if(result.code == 0){
                                alert('删除数据成功');
                                location.reload();
                            } else {
                                layer.alert(result.msg);
                            }
                        },
                        error: function (result) {
                            layer.closeAll();
                            alert('删除分类失败，请重试--------------')
                            console.log(result)
                        }
                    });
                });
            } else if(layEvent === 'edit'){ //编辑
                console.log(data);
                location.href="/main/classify/add_classify?id="+data.id;
            }
        });


    })
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="classifyType">
    {{#  if(d.parentId == 0){ }}
    <label style="color: red;">1级分类</label>
    {{#  } else { }}
    <label style="color: black;">2级分类</label>
    {{#  } }}
</script>

</html>