<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/eleTree.css}">
    <style>
        h1 {
            height: 60px; line-height: 60px;margin-left: 50px;
        }
        .layui-form {
            max-width: 600px;
        }
        .eleTree{
            width: 350px;
            height: 300px;
            border: 1px solid #ccc;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div>
        <h1 th:text="${title}"></h1>
    </div>

    <div>
        <form class="layui-form" action="">
            <input type="hidden" name="isDel" value="0">
            <input id="ids" type="hidden" th:value="${ids}">
            <input name="id" type="hidden" th:value="${role} != null?${role.id}:''">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <input th:value="${role} != null?${role.roleName}:''" type="text" name="roleName" required  lay-verify="required" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <input th:value="${role} != null?${role.introduction}:''" type="text" name="introduction" required  lay-verify="required" placeholder="请输入具体描述" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">拥有权限</label>
                <div class="layui-input-block">
                    <div class="eleTree ele1"></div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="role">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>

        </form>
    </div>

</body>

<script th:src="@{/layui/layui.js}"></script>
<script>
    var permissionIds = new Array();
    layui.config({
        base: "/layui/lay/mymodules/"
    }).use(['form', 'layer', 'jquery', 'eleTree'], function () {
        var form = layui.form
            ,eleTree = layui.eleTree
            ,layer = layui.layer
            ,$ = layui.$;
        form.on('submit(role)', function (data) {
            // 获取选中的节点，接收两个 boolean 类型的参数，1. 是否只是叶子节点，默认值为 false 2. 是否包含半选节点，默认值为 false
            var selData = el.getChecked(false, true);
            $.each(selData, function (index, item) {
                permissionIds[index] = item.id;
            });
            var url = "/system/role/save_role";
            var postData = data.field;
            postData['permissionIds'] = permissionIds;
            console.log(postData);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                data: postData,
                beforeSend: function(){
                    layer.load(
                        1,
                        {time: 5000}
                    );
                },
                success: function (result) {
                    console.log(result);
                    if(result.code == 0){
                        alert('保存角色数据成功--------------');
                        layer.closeAll();
                        console.log(result);
                        location.replace("/system/role/system_role")
                    } else {
                        layer.alert(result.msg);
                    }
                },
                error: function (result) {
                    layer.closeAll();
                    layer.alert('保存角色失败，请重试--------------')
                    console.log(result)
                }
            });
            return false;
        });

        //https://fly.layui.com/extend/eleTree/#doc
        var el = eleTree.render({
            elem: '.ele1',
            method: "post",
            url: "/system/role/get_permission_list_by_tree",
            showCheckbox: true,
            defaultExpandAll: true,
            done: function (data) {
                var ids = $('#ids').val();
                var dd = ids.split("-");
                console.log(dd);
//                var dd = [2,3];
                el.setChecked(dd);
            }
        });
        return false;

    });
</script>
</html>