<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <style>
        h1 {
            height: 60px; line-height: 60px;margin-left: 20px;
        }
        .layui-btn-group {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div>
        <h1>角色管理</h1>
    </div>
    <hr >
    <div class="layui-row">
        <div class="layui-col-md10">
            <div class="layui-btn-group" >
                <button id="add" class="layui-btn"><i class="layui-icon">&#xe654;</i>增加</button>
            </div>
        </div>
    </div>
    <!--<table id="tb_data" lay-filter="role"></table>-->
</body>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['jquery','table'], function () {
        var table = layui.table
            , $ = layui.$;

        $('#add').on('click', function () {
//            location.href="add_user";
        });

        $("#search").on('click',function () {
            var keyword = $("#search_key").val();
            alert(keyword);
//            //表格重载
//            table.reload('tb_data',{
//                url: 'getBlogList'
//                , where:{
//                    keyword:keyword
//                }
//            })
        });

        //获取表格数据
        var tb1 = table.render({
            elem: '#tb_data'
            ,height: 'full-150'
            ,url: 'getRoleList' //数据接口
            ,page: true //开启分页
            ,even: true // 设置间隔
            ,id: 'table_blog'
            ,cols: [
                [ //表头
                    {field: 'id', title: 'ID', width:50, sort: true, fixed: 'left'}
                    ,{fixed: 'right', title: '操作', width:150, align:'center', toolbar: '#barDemo', fixed: 'right'} //这里的toolbar值是模板元素的选择器
                ]
            ]
        });

        //监听表格右侧工具条按钮
        table.on('tool(role)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if(layEvent === 'detail'){ //查看
                console.log(data);
                //do somehing
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    layer.close(index);
//                    //向服务端发送删除指令
                });
            } else if(layEvent === 'edit'){ //编辑
                //do something
//                location.href="add_user?id="+data.id;
            }
        });

    })
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</html>