<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <style>
        h1 {
            height: 60px; line-height: 60px;margin-left: 50px;
        }
        .layui-form {
            max-width: 600px;
        }
    </style>
</head>
<body>
    <div>
        <h1>新增项目</h1>
    </div>

    <div>
        <form class="layui-form" action="">
            <input name="id" type="hidden" th:value="${gp} != null?${gp.id}:''">
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input th:value="${gp} != null?${gp.title}:''" type="text" name="title" required  lay-verify="required" placeholder="请输入项目名称" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-block">
                    <input th:value="${gp} != null?${gp.author}:''" type="text" name="author" required  lay-verify="required" placeholder="请输入作者" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">网址URL</label>
                <div class="layui-input-block">
                    <input th:value="${gp} != null?${gp.url}:''" type="text" name="url" required  lay-verify="required" placeholder="请输入项目URL" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea th:text="${gp} != null?${gp.remark}:''" name="remark" required  lay-verify="required" placeholder="请输入备注信息" autocomplete="off" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所属分类</label>
                <div class="layui-input-block">
                    <select name="classifyId" lay-verify="required">
                        <option value=""></option>
                        <option th:selected="${gp} != null?${gp.classifyId == item.id}:false" th:each="item:${classifies}" th:value="${item.id}" th:text="${item.classifyName}"></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="project">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>

        </form>
    </div>

</body>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['form', 'layer', 'jquery'], function () {
        var form = layui.form
            ,layer = layui.layer
            ,$$ = layui.$;
        form.on('submit(project)', function (data) {
            var url = "saveProject";
            var data1 = {
                id : data.field.id
                ,classifyId: data.field.classifyId
                ,url: data.field.url
                ,title: data.field.title
                ,author: data.field.author
                ,remark: data.field.remark
            }
            $$.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                data: data1,
                beforeSend: function(){
                    layer.load(
                        1,
                        {time: 5000}
                    );
                },
                success: function (result) {
                    console.log(result);
                    if(result.code == 0){
                        alert('保存数据成功--------------');
                        layer.closeAll();
                        console.log(result)
                        location.replace("main_project")
                    } else {
                        layer.alert(result.msg);
                    }
                },
                error: function (result) {
                    layer.closeAll();
                    alert('保存失败，请重试--------------')
                    console.log(result)
                }
            });
            return false;
        })
    });
</script>
</html>