<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <style>
        .logo {
            left: 40px;
        }
        .logo img {
            width: 70px;height: 50px;
        }
        h1 {
            height: 60px; line-height: 60px;margin-left: 50px;
        }
    </style>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header header header-demo">
            <div class="layui-header">
                <div class="layui-logo" style="color:white; font-size: 20px;">这里是标题</div>
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            <label>未登录</label>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">基本资料</a></dd>
                            <dd><a href="javascript:;">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="javascript:;">登录</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test" >
                    <li class="layui-nav-item layui-nav-itemed" th:each="item : ${lists}" th:if="${item.pid} == 0">
                        <a href="javascript:;"><span th:text="${item.name}"></span></a>
                        <dl class="layui-nav-child" th:each="itemInner : ${lists}">
                            <dd th:if="${item.id} == ${itemInner.pid}">
                                <a href="javascript:;" th:attr="data-url=${itemInner.url}">
                                    <span th:text="${itemInner.name}"></span>
                                </a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <iframe id="fm_main" scrolling="auto" frameborder="0" style="width:100%;height:98%;"></iframe>
        </div>
        <div class="layui-footer footer footer-demo">
            <div class="layui-main">
                foot
            </div>
        </div>
    </div>
</body>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['element', 'jquery'], function () {
        var element = layui.element
            , $ = layui.$;

        element.on('nav(test)', function(elem){
            var url = elem.attr('data-url');
            if(url != null && url != ""){
                $("#fm_main").attr("src", url);
            }
        });
    })
</script>
</html>